{% extends 'MesalabAdminBundle::login.html.twig' %}

{% block content %}

    <form class="form-signin" role="form" action="{{ path("admin_secured_security_check") }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="form-group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Username" required="" autofocus="">
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required="">
        </div>

        {#
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
		#}

        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.message }}</div><p class="bg-danger"></p>
        {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}
